@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
/* App Colors  */
:root {
  --color-primary: #9b007e;
  --color-primary-dark: #460039;
  --color-secondary: #6b7280;
  --color-accent: #e2cf00;
  --color-background: #ffc8f6;
  --color-text: #341732;
}
@theme {
  --font-sans:
    "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* Color */
  --color-highlight: #8e43f0;
  --color-darkGray: #584d66;

  /* Fonts */
  --font-inter: "inter", sans-serif;
  --font-brygada: "Brygada 1918", serif;
  --color-primary: #9b007e;
  --color-primary-dark: #460039;
  --color-secondary: #6b7280;
  --color-accent: #e2cf00;
  --color-background: #ffc8f6;
  --color-text: #341732;
}

@layer components {
  .h1 {
    @apply text-8xl font-bold;
  }
  .h2 {
    @apply text-4xl font-semibold;
  }
  .h3 {
    @apply text-2xl font-medium;
  }
  .h4 {
    @apply text-lg font-medium;
  }
  .h5 {
    @apply text-base font-medium;
  }
  .h6 {
    @apply text-sm font-medium;
  }
  .p {
    @apply text-base;
  }
  .wrapper {
    @apply max-w-7xl mx-auto;
  }

  .wrapper-container {
    @apply max-w-7xl mx-auto px-4;
  }

  .nav-container {
    width: min(1200px, calc(32px - 100%));
    margin-inline: auto;
  }

  .hero-img {
    @apply bg-[url(/assets/images/hero-img.jpg)] bg-cover bg-center;
  }

  .about-img {
    @apply bg-[url(/assets/images/about-img.jpg)] bg-cover bg-center;
  }

  .services-img {
    @apply bg-[url(/assets/images/services-img.jpg)] bg-cover bg-center;
  }

  .streams-img {
    @apply bg-[url(/assets/images/streams-img.jpg)] bg-cover bg-center;
  }

  .contact-img {
    @apply bg-[url(/assets/images/contact-img.jpg)] bg-cover bg-center;
  }

  .featured-stream::before {
    @apply absolute inset-0 bg-[url(/assets/images/ribbon.jpg)] bg-cover bg-center;
  }

  .nav-link > li {
    @apply transition duration-200 ease-in;
  }

  .btn-primary,
  .btn-secondary,
  .btn-outline-primary,
  .btn-outline-secondary,
  .btn-danger,
  .btn-transparent,
  .btn-outline-danger {
    @apply inline-flex items-center px-4 py-2 rounded-md font-semibold text-xs uppercase tracking-widest transition ease-in-out duration-150 gap-2;
  }
  .btn-primary {
    @apply bg-primary border border-transparent text-white hover:bg-primary-dark focus:bg-gray-700 active:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2;
  }
  .btn-secondary {
    @apply bg-secondary border border-transparent text-white hover:bg-gray-700 focus:bg-gray-700 active:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2;
  }
  .btn-outline-primary {
    @apply border border-primary text-primary hover:bg-primary-dark hover:text-white hover:border-white focus:bg-green-500 active:bg-green-200 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2;
  }
  .btn-outline-secondary {
    @apply border border-secondary text-secondary hover:bg-gray-700 hover:text-white hover:border-white focus:bg-secondary focus:text-white active:bg-secondary focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2;
  }
  .btn-danger {
    @apply border bg-red-800 border-red-800 text-red-100 hover:bg-red-500 hover:text-red-100 focus:bg-amber-500 active:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2;
  }
  .btn-outline-danger {
    @apply border border-red-500 text-red-800 hover:bg-gray-100 focus:bg-amber-500 active:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2;
  }
  .btn-transparent {
    @apply bg-transparent border border-transparent text-gray-800 hover:bg-gray-100 focus:bg-gray-100 active:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2;
  }
  .input-text {
    @apply py-2 px-4 border border-gray-300 focus:border-green-500 focus:ring-green-500 rounded-md;
  }
  .link-primary {
    @apply text-primary hover:text-primary-dark font-semibold;
  }
  .textarea {
    @apply py-2 px-4 border border-gray-300 focus:border-green-500 focus:ring-green-500 rounded-md;
  }
  .select {
    @apply py-2 px-4 border border-gray-300 focus:border-green-500 focus:ring-green-500 rounded-md;
  }

  .required::after {
    content: "*";
    color: red;
    margin-left: 0.25rem;
  }
}
@layer utilities {
}

@layer base {
  body {
    @apply font-inter min-h-screen bg-white;
  }

  section {
    @apply w-full;
  }

  /* section {
    @apply flex min-h-screen flex-col items-center justify-center py-28 text-white md:py-32;
  } */
}
